  .page-enter-active, .page-leave-active {
    transition: all .8s;
    /* transform: translate(-100%, 0); */
  }
  .page-enter {
    /* transform: translate(100%, 0); */
  }
  
  .reg-leave-active {
    transition: 1s;
    transform: scale(0.8);
  }

  .bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-out .5s;
  }
  @keyframes bounce-in {
    0% { transform: scale(0.8) }
    50% {  }
    100% { transform: scale(1) }
  }
  @keyframes bounce-out {
    0% { transform: scale(1) }
    50% { }
    100% { transform: scale(0.8) }
  }
  
  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    transform: translate(30px, 0);
  }
  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    transform: translate(-30px, 0);
  }